<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác Nhận Đơn Hàng</title>
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
<section>
    <div class="center">

<div>
    <h1 class="center-name">Xác Nhận Đơn Hàng</h1>
    <p class="ps"><strong>Tên người dùng:</strong> <span th:text="${userName}"></span></p>
    <p class="ps"><strong>Tên phim:</strong> <span th:text="${moviesName}"></span></p>


    <p class="ps"><strong>Tên rạp:</strong> <span th:text="${cinemaName}"></span></p>
    <p class="ps"><strong>Tên phòng:</strong> <span th:text="${roomName}"></span></p>

    <p class="ps"><strong>Suất chiếu:</strong> <span th:text="${showtime}"></span></p>
    <p class="ps"><strong>Ghế ngồi:</strong> <span th:text="${#lists.size(selectedChairs)}"></span></p>
    <ul>
        <li class="ps"  th:each="chair : ${selectedChairs}">
            <span th:text="${chair.chairName}"></span>
        </li>
    </ul>
    <p class="ps"><strong>Tổng tiền:</strong> <span th:text="${totalPrice}"></span> VNĐ</p>


    <h2>Phương thức thanh toán</h2>
    <form th:action="@{/users/vnpay/payment}" method="get">
        <label for="paymentMethod">Chọn phương thức thanh toán:</label>
        <select name="paymentMethod" id="paymentMethod" required>
            <option value="" disabled selected>Chọn phương thức</option>
            <option value="VNPAY">VNPAY</option>
            <option value="Cash">Tiền mặt</option>
        </select>
        <input type="hidden" name="amount" th:value="${totalPrice}"/>
        <input type="hidden" name="orderInfo" th:value="'Đặt vé cho phim ' + ${moviesName}"/>
        <button type="submit" class="button">Thanh Toán</button>
        <a href="/users" class="button" style="background-color: #f44336;">Trở về</a>
    </form>
</div>
    </div>
</section>
</body>
</html>
